* {
  margin: 0;
  padding: 0;
  font-family: 'New Super Mario Font U', sans-serif;
}

/* counter section */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  background-image: url(/assets/images/BackGroundBros.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 50%;
  width: 24%;
  border-radius: 10%;
}

.description {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: rgba(0, 0, 255, 0.938);
}

.counter {
  display: flex;
  margin-top: 5rem;
}

/* button section */
button{
  font-size: 20px;
  color: whitesmoke;
  border-radius: 5px;
  background-color: red;
  border: none;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
}

button:hover{
  background-color: white;
  color: red;
}

.btnbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* created box */
#valueBox{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  background-color: yellow;
  margin: 3%;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}

